{% extends "layout.html" %}

{% block main %}
<form action="{{ url_for('posts.create') }}" method="POST">
  <div class="form-group">
    <label for="title">Título</label>
    <input type="text" class="form-control" id="title" name="title" aria-describedby="emailHelp" placeholder="Digite o título do post">
  </div>
  <div class="form-group">
    <label for="conteudo">Example textarea</label>
    <textarea class="form-control" id="conteudo" name="conteudo" rows="3" placeholder="Digite o conteúdo do post"></textarea>
  </div>
  <button type="submit" class="btn btn-primary">Gravar</button>
</form>
{% endblock %}